header {
  width: 100%;
  padding: 25px;
}

header .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header .header-row .header-row-separator {
  min-width: 10px;
  height: 0;
}

header .header-row .header-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header .header-row .header-links .header-link-link {
  width: 36px;
  height: 36px;
  margin: 2px;
  padding: 3px;
  border-radius: 2.5px;

  text-decoration: none;
  cursor: pointer;

  transition: 0.5s;
}

header .header-row .header-links .header-link-link:hover {
  filter: invert();
  background-color: white;
}

header .header-row .header-links .header-link-link img {
  width: 30px;
  height: 30px;
}

header .header-row .header-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 28px;
}

header .header-separator {
  margin: 10px 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid black;
  opacity: 0.1;
}

header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

header .menu-item {
  padding: 5px;
  z-index: 5;
  position: relative;
  margin: 0 5px;

  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 12px;

  color: black;

  transition: color 1s, 1s;
}

header .menu-item:first-child { margin-left: 0; }
header .menu-item:last-child { margin-right: 0; }

header .menu .menu-item > .menu-item-background {
  z-index: -1;
  background-color: black;
  pointer-events: none;
  border-radius: 2px;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  transform: scale(2);
  filter: blur(4px);
  opacity: 0;

  transition: transform, filter, opacity 1s, 1s;
}

header .menu .menu-item:hover,
header .menu .menu-item.active {
  color: white;
  transition: color 1s;
}

header .menu .menu-item:hover > .menu-item-background,
header .menu .menu-item.active > .menu-item-background {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}
