* {
  box-sizing: border-box;
  user-select: none;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

#app {
  padding: 25px;
}

#background {
  opacity: 0.1;
  z-index: -1;
  background: -webkit-radial-gradient(50% 50%, ellipse, rgba(32, 32, 45, 0.26) 0%, rgba(16, 16, 24, 0.25) 75%, rgba(6, 6, 18, 0.25) 100%);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
